body, html {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: Poppins;
  margin: 0;
}

.navbar {
  font-family: Poppins;
  background: rgba(0, 0, 0, 0.9);
}

.nav-item {
  padding-left: 35px;
}

.navbar-brand {
  font-size: 20px;
}

section hr {
  border-color: #666;
  margin-bottom: 30px;
  margin-top: 30px;
}

.img1, .img2, .img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

.img1 {
  background-image: url('../img/img1.jpg');
  min-height: 100%;
}

.img2 {
  background-image: url('../img/img2.jpg');
  min-height: 50%;
}

.img3 {
  background-image: url('../img/img3.jpg');
  min-height: 50%;
}

#contact {
  background-color: #060606;
  min-height: 40%;
  text-align: center;
}

#contact h2 {
  padding-bottom: 40px;
}
#contact h6 {
  padding-bottom: 40px;
}

#contact h6 i{
  font-size: 20px;
  padding-right: 5px;
}

#contact .socials i {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 30px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.ptext h1 {
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext p {
  font-size: 25px;
}

.sub-text {
  color: #fff;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  transform: translate(-0%, -50%);
}
.sub-text cite {
  font-size: 18px
}

.photo img {
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  border-color: #222;
  width: 60%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

section h2 {
  text-align: center;
  padding-bottom: 60px;
  color: #aaa;
}

section h3, h4, h5, h6 {
  color: #aaa;

}

.dark-section {
  color: #666;
  background-color: #111;
}

 .fa-star {
  font-size: : 7em;
}
.score {
  text-align: right;
}

.footer-copy {
  font-size: 14px;
  padding: 15px;
  background-color:  #060606;
  color: #aaa;
}

@media(max-width:568px){
  .img1, .img2, .img3{
    background-attachment:scroll;
  }
