body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: Poppins
}

.navbar {
  font-family: Poppins;
  background: rgba(0, 0, 0, 0.9);
}

.nav-item {
  padding-left: 35px;
}

.navbar-brand {
  font-size: 20px;
}

.img1, .img2, .img3, .img4 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.9;
}

.img1 {
  background-image: url('../img/img1.jpg');
  min-height: 100%;
}

.img2 {
  background-image: url('../img/img2.jpg');
  min-height: 400px;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.ptext h1 {
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext p {
  font-size: 25px;
}

#about {
  padding-top: 30px;
  padding-bottom: 30px;
}
